<!DOCTYPE html>
<html lang="vi-VN">

<head>
    <title>Đăng Ký - JOBB</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">

    <!-- External CSS libraries -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-submenu.css">

    <link rel="stylesheet" type="text/css" href="css/bootstrap-select.min.css">
    <link rel="stylesheet" type="text/css" href="css/magnific-popup.css">
    <link rel="stylesheet" type="text/css" href="css/daterangepicker.css">
    <link rel="stylesheet" href="css/leaflet.css" type="text/css">
    <link rel="stylesheet" href="css/map.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" type="text/css" href="fonts/linearicons/style.css">
    <link rel="stylesheet" type="text/css" href="css/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" type="text/css" href="css/dropzone.css">
    <link rel="stylesheet" type="text/css" href="css/slick.css">

    <!-- Custom stylesheet -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" id="style_sheet" href="css/skins/midnight-blue.css">

    <!-- Favicon icon -->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">

    <!-- Google fonts -->
    <link rel="stylesheet" type="text/css"
        href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,300,700">
    <link rel="stylesheet" type="text/css"
        href="https://fonts.googleapis.com/css?family=Dosis%7CMontserrat:200,300,400,500,600,700,800,900%7CNunito+Sans:200,300,400,600,700,800,900">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link rel="stylesheet" type="text/css" href="css/ie10-viewport-bug-workaround.css">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script  src="js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="js/ie-emulation-modes-warning.js"></script>

    <script src="./js/angular.min.js"></script>
    <script src="./js/authorization.js"></script>
</head>

<body class="bg-grea" ng-app="JOBB" ng-controller="HandleAuthorization">
    <div class="page_loader"></div>

    <!-- Contact section start -->
    <div class="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Form content box start -->
                    <div class="form-content-box">
                        <!-- details -->
                        <div class="details">
                            <!-- Logo-->
                            <a href="index.html">
                                <img src="img/black-logo.png" class="cm-logo" alt="black-logo">
                            </a>
                            <!-- Name -->
                            <h3>Hơn 1 triệu ứng viên tìm được việc làm mơ ước trên JOBB</h3>
                            <!-- Form start-->
                            <form name="signupForm" novalidate>
                                <div class="form-group">
                                    <input type="text" name="name" class="input-text" placeholder="Họ và tên"
                                        ng-model="userSignupData.name" placeholder="Họ và tên quá dài!"
                                        ng-maxlength="255" required />
                                </div>
                                <div ng-show="signupForm.name.$dirty && signupForm.name.$invalid"
                                    class="col-md-12 col-sm-12 col-xs-12 text-warning">
                                    <span ng-show="signupForm.name.$error.required">Họ và tên không được để
                                        trống!</span>
                                    <span ng-show="signupForm.name.$error.maxlength">Họ và tên quá dài!</span>
                                </div>
                                <div class="form-group">
                                    <input type="email" name="email" class="input-text" placeholder="Email"
                                        ng-model="userSignupData.email" required />
                                </div>
                                <div ng-show="signupForm.email.$dirty && signupForm.email.$invalid"
                                    class="col-md-12 col-sm-12 col-xs-12 text-warning">
                                    <span ng-show="signupForm.email.$error.required">
                                        Email không được để trống!
                                    </span>
                                    <span ng-show="signupForm.email.$error.email">
                                        Email không hợp lệ!
                                    </span>
                                </div>
                                <div class="form-group">
                                    <input type="password" name="password" class="input-text" placeholder="Mật khẩu"
                                        ng-model="userSignupData.password" ng-minlength="6" required />
                                </div>
                                <div ng-show="signupForm.password.$dirty && signupForm.password.$invalid"
                                    class="col-md-12 col-sm-12 col-xs-12 text-warning">
                                    <span ng-show="signupForm.password.$error.required">
                                        Mật khẩu không được để trống!
                                    </span>
                                    <span ng-show="signupForm.password.$error.minlength">
                                        Mật khẩu phải có ít nhất 6 ký tự!
                                    </span>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="input-text" name="confirmPassword"
                                        ng-model="userSignupData.password_confirmation" class="form-control"
                                        placeholder="Nhập lại mật khẩu" required />
                                </div>
                                <div ng-show="signupForm.confirmPassword.$dirty && (userSignupData.password != userSignupData.password_confirmation)"
                                    class="col-md-12 col-sm-12 col-xs-12 text-warning">
                                    Mật khẩu không khớp!
                                </div>
                                <div class="form-group mb-0">
                                    <button type="button" class="btn-md button-theme btn-block" ng-disabled="!signupForm.$dirty || signupForm.$dirty && signupForm.$invalid"
                                    ng-click="handleSign()">Đăng Ký</button>
                                </div>
                            </form>
                            <!-- Social List -->
                            <ul class="social-list clearfix">
                                <li><a href="javascript:void(0)" class="facebook-bg"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li><a href="javascript:void(0)" class="twitter-bg"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li><a href="javascript:void(0)" class="google-bg"><i class="fa fa-google-plus"></i></a>
                                </li>
                                <li><a href="javascript:void(0)" class="linkedin-bg"><i class="fa fa-linkedin"></i></a>
                                </li>
                            </ul>
                        </div>
                        <!-- Footer -->
                        <div class="footer">
                            <span>Bạn đã có tài khoản? <a href="login.html">Đăng nhập</a> ngay</span>
                        </div>
                    </div>
                    <!-- Form content box end -->
                </div>
            </div>
        </div>
    </div>
    <!-- Contact section end -->

    <script src="js/jquery-2.2.0.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap-submenu.js"></script>
    <script src="js/rangeslider.js"></script>
    <script src="js/jquery.mb.YTPlayer.js"></script>
    <script src="js/bootstrap-select.min.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/jquery.scrollUp.js"></script>
    <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="js/leaflet.js"></script>
    <script src="js/leaflet-providers.js"></script>
    <script src="js/leaflet.markercluster.js"></script>
    <script src="js/moment.min.js"></script>
    <script src="js/daterangepicker.min.js"></script>
    <script src="js/dropzone.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/jquery.filterizr.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.countdown.js"></script>
    <script src="js/maps.js"></script>
    <script src="js/app.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>
    <!-- Custom javascript -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>
</body>

</html>