*, ::after, ::before {
    box-sizing: border-box;
}

html {
    position: relative;
    min-height: 100%;
    background: #eee;
    font-size: 62.5%;
    font-family: sans-serif;
}

body {
    font-family: Roboto, Helvetica, Verdana, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    margin: 0;
}

a, a:hover {
    text-decoration: none;
    color: #555;
}

.navbar-jc {
    border: none;
    border-bottom: 1px #e5e5e5 solid;
    border-radius: 0;
    background-color: #fff!important;
    min-height: 40px;
}

.navbar-jc .navbar-nav .nav-link {
    color: #555;
    padding: 10px 10px;
    line-height: 30px;
    font-size: 14px;
}

.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.label.label__new-tag {
    position: relative;
    top: -5px;
}

.label.label-sm {
    font-size: 9px;
    padding: 2px 2px 1px 3px;
    font-weight: 400;
}

.m-t-n-sm {
    margin-top: -10px;
}

.label-danger {
    background-color: #ef474f;
}

footer {
    border-top: 1px solid #d5d5d5;
    background: #dbdbdb;
    padding: 0 0 1px 0;
    width: 100%;
}

footer a {
    color: #555;
}

footer h5 {
    font-size: 16.1px;
}

.footer-jc {
    padding: 20px 0 30px;
    background-color: #fff;
}

.footer-jc .link-listing-item a {
    color: #555;
    cursor: default;
}

.footer-jc h5 {
    text-transform: uppercase;
    font-size: 14px;
}

footer h1, footer h2, footer h3, footer h4, footer h5 {
    color: #555;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 15px;
}

.footer-jc {
    margin-right: 0!important;
    margin-left: 0!important;
}

.footer-jc .link-listing .col {
    padding-left: 0;
}

.footer-jc .link-listing {
    margin-right: 0!important;
    margin-left: 0!important;
}

.footer-jc .link-listing .list-group {
    margin-bottom: 0;
}

.footer-jc .list-group {
    padding: 0;
}

.footer-jc .link-listing .list-group-item {
    list-style-type: none;
    margin-bottom: 2px;
    padding: 0;
    background-color: transparent;
    border: none;
}

.footer-jc .link-listing-item {
    width: 100%;
}

.footer-jc .link-listing-item .list-group-item a {
    cursor: pointer;
}

.footer-jc .link-listing-item a {
    color: #555;
}

.footer-jc li a {
    color: #555;
    transition: .3s color;
}

.footer-jc a {
    text-decoration: none;
}

.link-view-all {
    margin-top: 15px;
}

.text-info {
    color: #00b9f2!important;
}

.list-unstyled {
    line-height: 24px;
    padding-left: 0;
    list-style: none;
}

.text-capitalize {
    text-transform: capitalize;
}

.m-t-md {
    margin-top: 20px;
}

.footer__app-badges {
    text-align: left;
}

.footer__app-badges .app-store-badge {
    margin-right: 6px;
}

.footer__app-badges img {
    height: 45px;
    margin: 2px 0;
}

.home-social a.blog {
    color: #00b9f2;
}

.home-social a {
    display: inline-block;
    width: 36px;
    height: 35px;
    margin-right: 2px;
}

.home-social a.linkedin {
    color: #0097bd;
}

.home-social a.facebook {
    color: #3a5a97;
}

.home-social a i {
    font-size: 30px;
}

footer .copyright {
    margin-top: 10px;
}

.text-muted {
    color: #999;
}

.text-center {
    text-align: center;
}

.signup {
    margin: 20px;
}

.signup .form-control {
    font-size: 14px!important;
}

.signup .btn {
    color: #fff;
    font-weight: bold;
}

.btn-signup {
    text-align: center;
    white-space: pre-line;
    line-height: 3;
    margin-top: -40px;
}

.mt-4 .dksd {
    color: #00b9f2;
}

.col-form-signup {
    box-shadow: 0.5px 0.5px 3px #888;
    padding: 20px;
    border-radius: 10px;
}

.login-form {
    text-align: right;
}
