<section ng-controller="FormSignUp" class="signup">
    <form class="container" name="loginForm" novalidate>
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-8 col-xl-6 col-form-signup">
                <div class="row">
                    <div class="col text-center">
                        <h1>Đăng nhập để tiếp tục</h1>
                    </div>
                </div>
                <div class="row align-items-center mt-4">
                    <div class="col">
                        <input type="email" name="email" class="form-control" placeholder="Email"
                            ng-model="userLoginData.email" required>
                    </div>
                    <div ng-show="loginForm.email.$dirty && loginForm.email.$invalid"
                        class="col-md-12 col-sm-12 col-xs-12 text-warning">
                        <span ng-show="loginForm.email.$error.required">
                            Email không được để trống!
                        </span>
                        <span ng-show="loginForm.email.$error.email">
                            Email không hợp lệ!
                        </span>
                    </div>

                </div>
                <div class="row align-items-center mt-4">
                    <div class="col">
                        <input type="password" name="password" class="form-control" placeholder="Mật khẩu"
                            ng-model="userLoginData.password" ng-minlength="6" required>
                    </div>
                    <div ng-show="loginForm.password.$dirty && loginForm.password.$invalid"
                        class="col-md-12 col-sm-12 col-xs-12 text-warning">
                        <span ng-show="loginForm.password.$error.required">
                            Mật khẩu không được để trống!
                        </span>
                        <span ng-show="loginForm.password.$error.minlength">
                            Mật khẩu phải có ít nhất 6 ký tự!
                        </span>
                    </div>

                </div>
                <div class="row justify-content-start mt-4">
                    <div class="col">
                        <div class="form-check login-form">
                            <a class="dksd" href="javascript:void(0)">Quên mật khẩu?</a>
                        </div>

                        <div class="btn-signup">
                            <button class="btn btn-warning mt-4 btn-lg"
                                ng-disabled="!loginForm.$dirty || loginForm.$dirty && loginForm.$invalid"
                                ng-click="handleLogin()">Đăng Nhập</button>
                            <span>Bạn chưa có tài khoản? <a class="dksd" href="#!/signup">Đăng ký</a> ngay.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>