<section ng-controller="FormSignUp" class="signup">
    <form class="container" name="signupForm" novalidate>
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-8 col-xl-6 col-form-signup">
                <div class="row">
                    <div class="col text-center">
                        <h1>Đăng Ký Thành Viên!</h1>
                        <p class="text-h3">Hơn 1 triệu ứng viên tìm được việc làm mơ ước trên JobConnects</p>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col mt-4">
                        <input type="text" name="name" class="form-control" placeholder="Họ và tên"
                            ng-model="userSignupData.name" placeholder="Họ và tên quá dài!" ng-maxlength="255" required>
                    </div>
                    <div ng-show="signupForm.name.$dirty && signupForm.name.$invalid"
                        class="col-md-12 col-sm-12 col-xs-12 text-warning">
                        <span ng-show="signupForm.name.$error.required">Họ và tên không được để trống!</span>
                        <span ng-show="signupForm.name.$error.maxlength">Họ và tên quá dài!</span>
                    </div>
                </div>
                <div class="row align-items-center mt-4">
                    <div class="col">
                        <input type="email" name="email" class="form-control" placeholder="Email"
                            ng-model="userSignupData.email" required>
                    </div>
                    <div ng-show="signupForm.email.$dirty && signupForm.email.$invalid"
                        class="col-md-12 col-sm-12 col-xs-12 text-warning">
                        <span ng-show="signupForm.email.$error.required">
                            Email không được để trống!
                        </span>
                        <span ng-show="signupForm.email.$error.email">
                            Email không hợp lệ!
                        </span>
                    </div>

                </div>
                <div class="row align-items-center mt-4">
                    <div class="col">
                        <input type="password" name="password" class="form-control" placeholder="Mật khẩu"
                            ng-model="userSignupData.password" ng-minlength="6" required>
                    </div>
                    <div ng-show="signupForm.password.$dirty && signupForm.password.$invalid"
                        class="col-md-12 col-sm-12 col-xs-12 text-warning">
                        <span ng-show="signupForm.password.$error.required">
                            Mật khẩu không được để trống!
                        </span>
                        <span ng-show="signupForm.password.$error.minlength">
                            Mật khẩu phải có ít nhất 6 ký tự!
                        </span>
                    </div>

                </div>
                <div class="row align-items-center mt-4">
    
                        <div class="col">
                            <input type="password" name="confirmPassword" ng-model="userSignupData.password_confirmation"
                                class="form-control" placeholder="Nhập lại mật khẩu" required>
                        </div>
                        <div ng-show="signupForm.confirmPassword.$dirty && (userSignupData.password != userSignupData.password_confirmation)"
                            class="col-md-12 col-sm-12 col-xs-12 text-warning">
                            Mật khẩu không khớp!
                        </div>
    
                    </div>
                <div class="row justify-content-start mt-4">
                    <div class="col">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" ng-model="term" required>
                                &nbsp;Tôi đã đọc và chấp nhận <a class="dksd" href="javascript:void(0)">điều khoản sử
                                    dụng</a>.
                            </label>
                        </div>

                        <div class="btn-signup">
                            <button class="btn btn-warning mt-4 btn-lg" ng-disabled="!signupForm.$dirty || signupForm.$dirty && signupForm.$invalid && !term.$touched"
                            ng-click="handleSign()">Đăng Ký</button>
                            <span>Bạn đã có tài khoản? <a class="dksd" href="#!/login">Đăng nhập</a> ngay.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>